@model Handyman.Models.Tasks

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="th-section p-2 rounded">
    <h3>@Html.DisplayFor(model => model.TaskName)</h3>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tools)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tools)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Steps)
        </dt>
        <dd class = "col-sm-10">
            <ul>
                @foreach (var step in ViewBag.StepList)
                {
                    <li>@step</li>
                }
            </ul>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkillLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkillLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedPrice)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.VideoLink)
        </dt>
        <dd class="mx-auto text-center">
            <iframe width="400" height="200" src="@Html.DisplayFor(model=> model.VideoLink)" title="Youtube Video Player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
            </iframe>
        </dd>
    </dl>
    @{

    var userLocation = Context.Session.GetString("location");
    string category;
    string baseSearchQuery;

    if (Model.Category.ToString() == "Lawn")
    {
        category = "lawn%20care";
    }
    else if (Model.Category.ToString() == "Home")
    {
        category = "hardware%20store";
    }
    else
    {
        category = "auto%20store";
    }

    if (String.IsNullOrEmpty(userLocation))
    {
        baseSearchQuery = $"https://www.google.com/maps/embed/v1/search?q={category}&key=AIzaSyBjsdfOWs2qMcLpyGICc3QF_FdCJZoeetk";
    }
    else
    {
        baseSearchQuery = $"https://www.google.com/maps/embed/v1/search?q={category}%20";

        if (userLocation.Contains(" "))
        {
            string[] locationSplit = userLocation.Split(" ");
            baseSearchQuery += string.Join("%20", locationSplit);
        }
        else
        {
            baseSearchQuery += userLocation;
        }

        baseSearchQuery += "&key=AIzaSyBjsdfOWs2qMcLpyGICc3QF_FdCJZoeetk";
    }
    }
    <div class="text-center">
        <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="@baseSearchQuery"></iframe>
    </div>
    <div class="text-center">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="th-btn th-text px-2 rounded" >Edit</a> <br/>
        <a asp-action="Index" class="th-btn th-text px-2 rounded mt-2" >Back to List</a>
    </div>
</div>

