@model Handyman.Models.Tasks

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tools)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tools)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Steps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Steps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkillLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkillLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
