@model IEnumerable<Handyman.Models.Tasks>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">How-To</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="searchString" value="@ViewData["currentFilter"]" style="width:30%;"/>
            <input type="submit" value="Search" class="th-btn " style="max-width:20%"/>
        </p>
    </div>
</form>
<div class="row">
    
    <div class="col-sm-3 th-side-nav mb-2 me-2 rounded">
        <form asp-action="Index" method="get">
        
            <h3 class="pt-2">Categories</h3>
            <input type="submit" name="filterCategory" value="Home" class="mt-2 th-btn"/><br/>
            <input type="submit" name="filterCategory" value="Auto" class="mt-2 th-btn" /><br />
            <input type="submit" name="filterCategory" value="Lawn" class="mt-2 th-btn" />
             
        </form>
    </div>

    <div class="th-section col-md-8 overflow-hidden rounded">
        <table class="table">
            <thead>
                <tr>                   
                    <th>

                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]" class="text-black">Task Name</a>
                    </th>

                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["CatSortParam"]" class="text-black">Category</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["SkillSortParam"]" class="text-black">Skill Level</a>

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>                 
                    <th>
                        @Html.DisplayNameFor(model => model.EstimatedPrice)               
                    <th></th>
                </tr>
            </thead>

            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                            <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration:none; color:#8F5353;">@Html.DisplayFor(modelItem => item.TaskName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                 
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimatedPrice)
                    </td>
                    <td>
                            @if (User.IsInRole("Admin")) {
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-regular fa-pen-to-square" style="color: #8F5353;"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-x" style="color: #8F5353;"></i></a>
                            }                          
                     </td>
                </tr>
        }
            </tbody>
        </table>
        <p class="">
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Create"><i class="fa-solid fa-plus" style="color: #8F5353;"></i></a>
            }
        </p>
    </div>

</div>

